h1, p {
    margin: 0;
    padding: 0;
}

/* Set a background color and font styles for the whole page */


/* Style the header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    
}
a{
    text-decoration: none;
}

/* Style the main content */
main {
    padding: 20px;
}

.about-section {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 16px;
    line-height: 1.6;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    
}